<nav class="sidebar" [class.active]="isOpen">

  <ul class="sidebar-menu">
    <li><a href="#" class="sidebar-item"><img src="assets/sidebarImg/worderlands3-icon.png" alt="Wonderlands">Wonderlands</a></li>
    <li><a href="#" class="sidebar-item"><img src="assets/sidebarImg/borderlands33-icon.png" alt="Borderlands 3">Borderlands 3</a></li>
    <li><a href="#" class="sidebar-item"><img src="assets/sidebarImg/borderlands2-icon.png" alt="Borderlands 2">Borderlands 2</a></li>
    <li><a href="#" class="sidebar-item"><img src="assets/sidebarImg/borderlandstps-icon.png" alt="Borderlands TPS">Borderlands TPS</a></li>
    <li><a href="#" class="sidebar-item"><img src="assets/sidebarImg/borderlands1-icon.png" alt="Borderlands 1">Borderlands 1</a></li>
  </ul>


</nav>
